{% extends 'base.html.twig' %}
{% block body %}
{# <h1>{{link}}</h1>
<h1>{{pool}}</h1>
<h1>{{name}}</h1> #}
<div id="root" data-link="{{link}}" data-pool="{{pool}}" data-name="{{name}}"></div>
{% endblock %}